
.centerPart{
   margin: 100px auto;
    width: 335px;
    height: 587px;
    border-radius: 2px;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}
.fa{
    color: white;
    font-size: 70px;
    transform: rotate(20deg);
    margin-top: 100px;
    display: block;
    margin-bottom:40px;
    
}
.z-depth-5{
    box-shadow: 3px 4px 15px 2px rgba(0, 0, 0, 0.6);

}

.btn{
    border-radius: 50px;
    padding: 7px 2px;
    margin-top: 200px; 
    margin-left:-70px;
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: helvetica;
    width: 150px;
    height: 50px;
}

.line{
    margin: 20px auto;
    border-radius: 30px;
    text-align: center;
    position: relative;
    display: block;

}

.modala1{
    width: 300px;
    height: 200px;
    margin:20px;
    border-radius: 4px;
    position: relative;
    text-align: center;
    
    letter-spacing: 1px;
}

.chatB{
    margin-top:-200px;
    width: 100%;
    height: 530px;
    border-radius: 2px;
    position: relative;
    text-align: center;
    top: 0;
    right: 0;
}
.peopleIcon{
    height: 50px;
    width: 30px;
    border-radius: 360%;
}